@font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "NotoSerif";
    src: url("/public/fonts/NotoSerif-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @import "mixins";

  .text-14-400 {
    @include text-14-400();
  }

  .text-16-400 {
    @include text-16-400();
  }

  .text-18-400 {
    @include text-18-400();
  }

  .text-18-500 {
    @include text-18-500();
  }

  .text-21-400 {
    @include text-21-400();
  }

  .text-14-500{
    @include text-14-500();
  }

  .text-nav {
    @include text-nav();
  }

  .text-notoserif {
    @include text-notoserif();
  }

  .text-input {
    @include text-input();
  }

  .text-h3-card {
    @include text-h3-card();
  }